@use 'variables' as *;
@use 'mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-tertiary;
  color: $text-primary;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  @include custom-scrollbar(10px, $bg-secondary, $primary-color);
}